<%= form_with model: post, local: true do |f| %>
  <%= render 'shared/error_message', object: f.object %>

  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', rows: 5 %>
  </div>

  <div class="mb-3">
    <%= label_tag :tags_string, "タグ" %>
    <% preset_tags = params[:tags_string].presence || post.tags.map(&:name).join(",") %>
    <%= text_field_tag :tags_string, preset_tags, class: "form-control", placeholder: "例: rails,ruby,php" %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
